.appstore {
  background-position: 0px 0px;
}
.calculator {
  background-position: -60px 0px;
}
.calendar {
  background-position: -120px 0px;
}
.camera {
  background-position: -180px 0px;
}
.clock {
  background-position: -240px 0px;
}
.compass {
  background-position: -300px 0px;
}
.facetime {
  background-position: -360px 0px;
}
.itunesstore {
  background-position: -420px 0px;
}
.mail {
  background-position: -480px 0px;
}
.maps {
  background-position: -540px 0px;
}
.messages {
  background-position: -600px 0px;
}
.music {
  background-position: -660px 0px;
}
.passbook {
  background-position: -720px 0px;
}
.phone {
  background-position: -780px 0px;
}
.photos {
  background-position: -840px 0px;
}
.reminders {
  background-position: -900px 0px;
}
.safari {
  background-position: -960px 0px;
}
.settings {
  background-position: -1020px 0px;
}
.stocks {
  background-position: -1080px 0px;
}
.twitter {
  background-position: -1140px 0px;
}
.weather {
  background-position: -1200px 0px;
}
.newsstand {
  background-position: -1260px 0px;
}
.videos {
  background-position: -1320px 0px;
}
.notes {
  background-position: -1380px 0px;
}